@page "/"
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@using EzGreen.Models

<h1>Your LocalStorage Note</h1>

@if (ezGreenProfiles.Count == 0)
{
    <div class="form-group" style="text-align:right">
        <div class="alert alert-warning" role="alert">
            <label for="formGroupExampleInput2">תו לא נמצא</label>
        </div>
        <br />
        <button class="btn btn-success">הוספת תו חדש</button>
        
    </div>
}
<br />
<input type="text" class="form-control" @bind="noteContent" />
<br />
<button class="btn btn-success" @onclick="UpdateLocalStorage">שמירה</button>
<button class="btn btn-danger" @onclick="ClearLocalStorage">מחיקה</button>


@code{
    const string userProfile = "userProfile";
    string noteContent;
    EzGreenProfile EzGreenProfile = new EzGreenProfile();
    List<EzGreenProfile> ezGreenProfiles = new List<EzGreenProfile>();



    public async void UpdateLocalStorage()
    {
        EzGreenProfile EzGreenProfile = new EzGreenProfile();
        EzGreenProfile.ProfileName = noteContent;
        EzGreenProfile.ProfilePicture = noteContent;

        await localStorage.SetItemAsync(userProfile, EzGreenProfile);
    }

    public async void ClearLocalStorage()
    {
        noteContent = "";
        await localStorage.ClearAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        EzGreenProfile = await localStorage.GetItemAsync<EzGreenProfile>(userProfile);
    }
}